<h2 mat-dialog-title>{{data.name}}</h2>
<div mat-dialog-content>
    <ng-container *ngIf="data.type === 'image'">
        <img [src]="data.imageData">
    </ng-container>
    <ng-container *ngIf="data.type === 'video'">
        <video controls autoplay>
            <source [src]="data.imageData" [type]="data.videoType"> Your browser does not support the video tag.
        </video>
    </ng-container>
</div>
<div mat-dialog-actions class="actions">
    <button mat-raised-button mat-dialog-close color="primary" (click)="onNoClick()">Close</button>
</div>