<ng-container *ngIf="isLoggedIn">
  <mat-toolbar color="primary">

    <button mat-button routerLink="/">
      <mat-icon>home</mat-icon>
      File Manager</button>
    <button mat-button routerLink="/">My files</button>
    <button mat-button routerLink="/public">Shared files</button>
    <form [formGroup]="searchControl" id="search-box" (ngSubmit)="submitSearch()" *ngIf="isItDeployedInProduction">
      <mat-form-field>
        <input matInput type="search" placeholder="Search" autocomplete="off" formControlName="input">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </form>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <mat-toolbar-row>
        {{ formatedFirstnameAndLastname }}
      </mat-toolbar-row>
      <mat-toolbar-row>
        <button mat-icon-button [matMenuTriggerFor]="appMenu" id="avatar-button">
          <img [src]="user.photoUrl" class="user-avatar">
        </button>
      </mat-toolbar-row>
      <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
        <ng-container *ngIf="user.provider === 'supdrive'">
          <button mat-menu-item routerLink="/profile">Profile</button>
        </ng-container>
        <button mat-button (click)="onLogout()">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <mat-progress-bar mode="indeterminate" color="warn" *ngIf="searching"></mat-progress-bar>
</ng-container>

<ng-container *ngIf="!isLoggedIn">
  <mat-toolbar color="primary">
    <button mat-button routerLink="/">
      <mat-icon>home</mat-icon>
      File Manager</button>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <button mat-button routerLink="/">Login</button>
  </mat-toolbar>
  <mat-progress-bar mode="indeterminate" color="warn" *ngIf="searching"></mat-progress-bar>
</ng-container>