mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}

#main-image {
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}

form {
  margin-top: 20px;
}

mat-form-field {
  margin-top: 10px;
}

::ng-deep .mat-tab-label {
  width: 100%
}

.button-margin {
  margin-top: 20px;
}

.social-network {
  margin-left: 5px;
}