<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <mat-card-title>File Manager</mat-card-title>

        <mat-card-subtitle>Please login to continue</mat-card-subtitle>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="User" formControlName="userName" required>
          <mat-error *ngIf="isFieldInvalid('userName')">
            Please inform your user name
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('userName')">
            Please inform your password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </mat-card-content>
    
    <mat-card-content>
      <mat-card-subtitle>Or connect with Social Media</mat-card-subtitle>
      <div xLayout="row" fxLayoutAlign="space-evenly center">
        <button mat-raised-button color="link">
          <i class="fa fa-google-plus-official" style="color: #d62d20" aria-hidden="true"></i> Google+</button>
        <button mat-raised-button color="link">
          <i class="fa fa-facebook-official" style="color: #3b5998" aria-hidden="true"></i> Facebook</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<img src='assets/images/icon.png' id="main-image" class="d-none d-sm-block d-md-block">