/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body,
html {
  margin: 0;
  font-family: "Roboto";
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

img {
  border-radius: 50%;
}

mat-progress-spinner.custom {
  position: absolute !important;
  top: calc(34% - 50px);
  left: calc(50% - 50px);
  z-index: 200;
}
