<app-navbar></app-navbar>
<ng-container *ngIf="user">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card>
        <mat-card-title>Edit your profile</mat-card-title>
        <mat-card-subtitle>{{ formatedFirstnameAndLastname }} - {{ user.username}}
          <a href="https://fr.gravatar.com/" target="_blank" title="Gravatar picture">
            <img mat-card-image [src]="user.photoUrl">
          </a>
        </mat-card-subtitle>
        <mat-card-content>
          <div fxLayout="column" fxLayoutAlign="space-around center">
            <mat-form-field>
              <input matInput placeholder="Firstname" formControlName="firstname" required>
              <mat-error *ngIf="isFieldInvalid('firstname')">
                Please inform your first name
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Lastname" formControlName="lastname" required>
              <mat-error *ngIf="isFieldInvalid('lastname')">
                Please inform your last name
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="isFieldInvalid('email')">
                Please inform a valid email adress
              </mat-error>
            </mat-form-field>
            <!-- <mat-form-field>
              <input matInput placeholder="Username" formControlName="username" required>
              <mat-error *ngIf="isFieldInvalid('username')">
                Please inform your user name
              </mat-error>
            </mat-form-field> -->
            <mat-form-field>
              <input matInput type="password" placeholder="Password" formControlName="password" autocomplete="off" required>
              <mat-error *ngIf="isFieldInvalid('password')">
                Password must contain at leat 5 characters and 40 characters
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayoutAlign="space-around stretch" class="mat-elevation-z8" id="quota">
            <p>Quota (You benefit from the
              <a href="#" routerLink="/offers" title="Mange my offer">{{ user.offre.name }}</a> offer) : {{ formatedQuota }}</p>
            <mat-progress-bar mode="determinate" [value]="quota"></mat-progress-bar>
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary" type="submit" class="button-margin">Save</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</ng-container>

<mat-progress-spinner *ngIf="showLoader" mode="indeterminate" class="custom"></mat-progress-spinner>